*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    align-items: center;
}

header {
    justify-content: center;
    border: 2px solid blue;
    height: 10vh;
    width: 200vh;
    display: flex;
}

div {
    align-items: center;
    display: flex;
}

a, p {
    border: 2px solid green;
    height: 50px;
    width: 150px;
}